<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Electricity price prediction project</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

<head>
<title></title>
<style>
body

{
   background-image:url({{ url_for('static',filename='abtus1 (5).jpg') }});
   background-size:cover;
opacity: 9.5

}

</style>
</head>
    <div class="header">
        <h1><br><pre> </h1>
        <p><pre></p>
    </div>
    {% endblock %}
  </body>
</html>