<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Price prediction</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

<head>
<title></title>
<style>
body

{
   background-image:url({{ url_for('static',filename='pinkskyjpg.jpg') }});
   background-size:cover;
opacity: 50

}


</style>
</head>
    
    <h1><br><pre>  What is this all about ? </h1>
    <p><pre>    Brief description of the working of the project
Just having some fun making some websites lol </p>
    
    {% endblock %}
  </body>
</html>